@font-face{
    font-family: "HandoSoftTrial_Regular";
    src: url("../../assets//fonts/hando_soft_trial/HandoSoftTrial_Regular.ttf");
}
@font-face{
    font-family: "HandoSoftTrial_Bold";
    src: url("../../assets//fonts/hando_soft_trial/HandoSoftTrial_Bold.ttf");
}
$HandoSoftTrial_Regular:"HandoSoftTrial_Regular"; 
$HandoSoftTrial_Bold:"HandoSoftTrial_Bold"; 