$yellowColor :#ffff0f;
$orangeColor:orange;

$lightGreen:rgb(167, 231, 192);
$darkGreen:rgb(81, 172, 116);

$blueColor : rgb(3, 111, 199);
$lightBlue :rgb(0, 94, 172);
$darkBlue : rgb(0, 82, 150);


$whiteColor : white;
$blackColor :black;

$darkGray: rgb(63, 63, 63);
$darkgrayColor :rgb(61, 61, 61);
$lightGray :rgb(172, 172, 172);

$new_dark_gray :#303a44;
$new_light_gray :#3E4A56;