$yellowColor :#ffff0f;
$blueColor : rgb(3, 111, 199);
$darkBlue : rgb(0, 82, 150);
$darkGray: rgb(63, 63, 63);
$whiteColor : white;
$blackColor :black;
$darkgrayColor :rgb(61, 61, 61);
$lightGray :lightgray;