@import "../../styles/common_styles/variables";
@import "../../styles//common_styles/mixins";

.navbar {
  padding-top: 0rem;
  background-color: $blueColor;
  width: 50px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  // border-radius: 0 10px 10px 0;

  .navbar_item {
    width: 50px;
    height: 50px;
    @include flex(center, center);

    .navLink {
      svg {
        width: 1.4rem;
        height: 1.4rem;
        color: $whiteColor;
        // transition: all 0.3s ease;
      }
    }
    .active {
      svg {
        color: $lightGray;
      }
    }
    &:hover {
      translate: scale(2) !important;
      background-color: $darkBlue;
    }
  }
}
